.vlist-container {
  overflow-y: auto;
  width: 90vw;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.v-phantom {
  position: relative;
}

.v-item {
  position: absolute;
  border-bottom: 1px solid;
  left: 0;
  right: 0;
}