$themes: (light: (bg-color-0: #fff,
        bg-color-1: #fff,
        text-color: #333,
        grey-1: #1c1f23),
    dark: (bg-color-0: #16161a,
        bg-color-1: #35363c,
        text-color: #fff,
        grey-1: #f9f9f9));